<div class="row">
    <div class="col-sm-6">
        <boat state="state"></boat>
    </div>

    <div class="col-sm-6">
        <div class="row">
            <div class="col-xs-12">
                <h2>{{state.time | date:'MMMM d, H:mm:ss.sss'}} - {{state.command}}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <h3>Speed</h3>

                <h3>{{state.gps.speed | number:2}} m/s</h3>
            </div>
            <div class="col-xs-6">
                <h3>Sats</h3>

                <h3>{{state.gps.satellites}}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <h3>Wind</h3>

                <h3>{{state.wind.direction | number:1}}&deg;</h3>
            </div>
            <div class="col-xs-6">
                <h3>Sail</h3>

                <h3>{{state.output.sail}}&deg;</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h3>Heading</h3>

                <h3>{{state.gps.heading | number:1}}&deg;</h3>
            </div>
            <div class="col-xs-6">
                <h3>HDOP</h3>

                <h3>{{state.gps.hdop | number:2}} m</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h3>Latitude</h3>

                <h3>{{state.gps.latitude | number:5}}</h3>
            </div>
            <div class="col-xs-6">
                <h3>Longitude</h3>

                <h3>{{state.gps.longitude | number:5}}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <h3>Rudder</h3>

                <h3>{{state.output.rudder | number:1}}&deg;</h3>
            </div>
            <div class="col-xs-6">
                <h3>Setpoint</h3>
                <h3>{{state.setpoint}}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <input class="form-control" type="number" min="0" max="360" ng-model="tackAngle"/>
                <button class="btn btn-default" ng-click="setTackAngle()">Set</button>
            </div>
        </div>

    </div>

</div>

<div class="row">
    <table class="table table-condensed">

        <thead>
        <tr>
            <th>Sensor</th>
            <th>x</th>
            <th>y</th>
            <th>z</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">orientation</th>
            <td>{{state.orientation.roll | number:2}} &deg;</td>
            <td>{{state.orientation.pitch | number:2}} &deg;</td>
            <td>{{state.orientation.yaw | number:2}} &deg;</td>
        </tr>
        <tr>
            <th scope="row">acceleration</th>
            <td>{{state.orientation.acceleration.x | number:2}} m/s<sup>2</sup></td>
            <td>{{state.orientation.acceleration.y | number:2}} m/s<sup>2</sup></td>
            <td>{{state.orientation.acceleration.z | number:2}} m/s<sup>2</sup></td>
        </tr>
        <tr>
            <th scope="row">rotation rate</th>
            <td>{{state.orientation.rotationRate.x | number:2}} &deg;/s</td>
            <td>{{state.orientation.rotationRate.y | number:2}} &deg;/s</td>
            <td>{{state.orientation.rotationRate.z | number:2}} &deg;/s</td>
        </tr>
        <tr>
            <th scope="row">magn raw min</th>
            <td>{{state.orientation.magneticField.rawx | number:4}}</td>
            <td>{{state.orientation.magneticField.rawy | number:4}}</td>
            <td>{{state.orientation.magneticField.rawz | number:4}}</td>
        </tr>
        <tr>
            <th scope="row">magn raw min</th>
            <td>{{state.orientation.magneticField.range.x.min | number:4}}</td>
            <td>{{state.orientation.magneticField.range.y.min | number:4}}</td>
            <td>{{state.orientation.magneticField.range.z.min | number:4}}</td>
        </tr>
        <tr>
            <th scope="row">magn raw max</th>
            <td>{{state.orientation.magneticField.range.x.max | number:4}}</td>
            <td>{{state.orientation.magneticField.range.y.max | number:4}}</td>
            <td>{{state.orientation.magneticField.range.z.max | number:4}}</td>
        </tr>
        <tr>
            <th scope="row">magn raw avg (hardiron)</th>
            <td>{{(state.orientation.magneticField.range.x.max + state.orientation.magneticField.range.x.min)/2 | number:4}}</td>
            <td>{{(state.orientation.magneticField.range.y.max + state.orientation.magneticField.range.y.min)/2 | number:4}}</td>
            <td>{{(state.orientation.magneticField.range.z.max + state.orientation.magneticField.range.z.min)/2 | number:4}}</td>
        </tr>
        </tbody>
    </table>
</div>
