<div>
    <svg class="visualization chart timeseries"
         ng-attr-height="{{graph.height}}"
         ng-attr-width="{{graph.width}}">

        <defs>
            <marker id='markerArrow' orient='auto' markerWidth='2' markerHeight='4'
                    refX='0.1' refY='2'>
                <path d='M0,0 V4 L2,2 Z' fill='black'></path>
            </marker>

        </defs>


        <!-- Background -->
        <rect style="fill:#98d9ff;stroke:#000000;stroke-width:4px;"
              x="0"
              y="0"
              ng-attr-width="{{graph.width}}"
              ng-attr-height="{{graph.height}}"></rect>

        <g ng-attr-transform="translate({{graph.width/2}}, {{graph.height/2}}) scale(1) rotate({{state.gps.heading}})">

            <g transform="scale(2) translate(0, -50)">
                <path d="m 0,0 c -5.653467994,6.22241 -12.035712494,37.91001 -11.999999494,65 0.03571,27.08998 2.1997805,33.73994 2.9999995,34.5 0.800218,0.76006 8.999999994,0.5 8.999999994,0.5 m -1.48994e-4,-100 c 5.653468,6.22241 12.0357135,37.91001 12.0000005,65 -0.03571,27.08998 -2.1997815,33.73994 -3.0000005,34.5 -0.800218,0.76006 -9,0.5 -9,0.5"
                      style="fill:red;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"></path>
            </g>


            <!-- Wind vane -->
            <g ng-attr-transform="rotate({{state.wind.direction}})">
                <line class="horizontal-rule"
                      marker-end='url(#markerArrow)'
                      x1="0"
                      y1="30"
                      x2="0"
                      y2="-30"
                      style="stroke:#000000;stroke-width:4px"></line>
            </g>

            <!-- Mainsail -->
            <g transform="translate(0, 15)">
                <g ng-attr-transform="rotate({{180-state.output.graphicalSail}})">
                    <line x1="0"
                          y1="-90"
                          x2="0"
                          y2="0"
                          style="stroke:#000000;stroke-width:4px;stroke-linecap:round;"></line>
                </g>
            </g>

            <!-- Jib -->
            <g transform="translate(0, -90)">
                <g ng-attr-transform="rotate({{180-state.output.graphicalSail}})">
                    <line x1="0"
                          y1="-70"
                          x2="0"
                          y2="0"
                          style="stroke:#000000;stroke-width:4px;stroke-linecap:round;"></line>
                </g>
            </g>


            <g transform="translate(0, -110)">
                <line x1="0"
                      y1="0"
                      x2="0"
                      ng-attr-y2="{{state.gps.speed * -100}}"
                      marker-end="url(#markerArrow)"
                      style="stroke:#000000;stroke-width:4px"></line>
            </g>


        </g>


    </svg>

</div>